[Unit]
Description=Automatic git pull for the GLINDA2 proto unit
After=multi-user.target
Requires=network.target
Wants=network-online.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/glinda_main/autogitpull.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
