[Unit]
Description=Git Push Automater
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=bash /home/pi/Documents/glinda2_proto/src/autoGitPush.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
